# Spring Boot generated
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Build output
/build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Logs and temp files
*.log
*.swp
